.create-post {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.create-post-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.create-post-content-input {
  padding: 10px;
  border: 1px solid lightgray;
}

.create-post-content-editor-container {
  border: 1px solid lightgray;
}

.create-post-content-editor {
  height: 100%;
  border: 1px solid lightgray;
}

.create-post-menu {
  flex: 2;
  display: flex;
  flex-direction: column;

  max-height: 15rem;
}

.create-post-menu-item {
  padding: 10px;
  border: 1px solid lightgray;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #555;
}

.create-post-menu-item-h1 {
  font-size: 20px;
}

.create-post-menu-item-input-file {
  border: 1px solid lightgray;
  background-color: blue;
  border-radius: 0.375rem;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  box-shadow: 10px 5px 5px lightblue;
}

.create-post-menu-item-input-file:hover {
  border: 1px solid blue;
  background-color: white;
  border-radius: 8%;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  box-shadow: 10px 5px 5px lightblue;
}

.create-post-menu-buttons {
  display: flex;
  justify-content: space-between;
}

.create-post-menu-buttons-save {
  cursor: pointer;
  color: teal;
  background-color: white;
  border: 1px solid teal;
  padding: 3px 5px;
}

.create-post-menu-buttons-update {
  cursor: pointer;
  color: white;
  background-color: teal;
  border: 1px solid teal;
  padding: 3px 5px;
}

.create-post-menu-item-category {
  display: flex;
  align-items: center;
  gap: 2px;
  color: teal;
}

.create-post-menu-item h5 {
  color: black;
}

.create-post-tags-checkbox-tag {
  padding: 2px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}

#create-post-tags-add-text {
  width: 15rem;
}

.create-post-error {
  color: red;
  font-size: 20px;
}
