.post-root {
  display: flex;
  gap: 50px;
}

.post-content-single {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post-content-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
  max-width: 130vh;
  border: 3px solid #000;
  box-shadow: 10px 5px 5px teal;
  border-radius: 5%;
}

.post-content-cards img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 23vw;
  box-shadow: 10px 5px 5px rgb(0, 255, 238);
}

.post-menu {
  flex: 2;
}

.post-user-single {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.post-content-single-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.post-user-single-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.post-span-user-name {
  font-weight: bold;
}

.post-edit-single {
  display: flex;
  gap: 5px;
}

.post-edit-image {
  cursor: pointer;
}

.post-content-single-h1 {
  font-size: 42px;
  color: #333;
}

.post-content-single-p {
  text-align: justify;
  line-height: 30px;
}

.single-post-image {
  width: 10rem;
  height: 8rem;
  max-height: 420px;
  border-radius: 12%;
}

.post-content-single-h3 {
  font-size: 32px;
  color: rgb(94, 92, 92);
}
