.home-posts {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.home-post {
  display: flex;
  gap: 100px;
}

.home-post:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.home-post-img {
  flex: 2;
  position: relative;
}

.home-post-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: -1;
}

.home-post-image {
  width: 10rem;
  height: 8rem;
  max-height: 420px;
  border-radius: 12%;
}

.home-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-post-title {
  font-size: 48px;
}

.home-post-description {
  font-size: 18px;
}

.home-post-read-more {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightseagreen;
  color: teal;
}
.home-post-read-more:hover {
  border: 1px solid white;
  background-color: lightseagreen;
  color: white;
}

.row-image {
  display: flex;
  row-gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
