.my-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.my-profile-error {
  color: red;
  text-align: center;
}
.my-profile-pic {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.my-profile-pic-image {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.my-profile-full-name h1 {
  color: rgba(0, 0, 255, 0.726);
  font-size: 40px;
  font-weight: bold;
}

.my-profile-desription p {
  text-align: justify;
  color: rgb(67, 154, 246);
}

.my-profile-posts-image {
  height: 10%;
  width: 10%;
  padding: 10px;
}

.my-profile-button {
  width: max-content;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightseagreen;
  color: teal;
}

.my-profile-button:hover {
  border: 1px solid white;
  background-color: lightseagreen;
  color: white;
}
